# Server Configuration
PORT=
NODE_ENV=
SESSION_SECRET=

# PostgreSQL Configuration
# If using projection DB just use the URL
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_URL=

# Frontend URL
FRONTEND_URL=

# Discord OAUTH Configuration
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_OAUTH_URL=

# Id of the Discord server (guild) to check for membership
DISCORD_GUILD_ID=
